/* All of the styles I place here are for hi-jacking bootstrap's stuff, and adding my own styles. */

::selection {
	background: #121212;
	color: #FFFFFF;
	}
::-moz-selection {
	background: #121212;
	color: #FFFFFF;
}
.text-align-center{
	text-align: center;
}

@font-face {
    font-family: 'Roboto';
	font-style: normal;
    src: url('../fonts/Roboto.woff');
    font-weight: 400;
}

html body{
	background: #d0ceee;
	/* background: #DEDEDE !important;*/
	/*
	background-image:url('../images/pattern.png');
	background-repeat:repeat;
	background: repeating-linear-gradient(
	  45deg,
	  #DEDEDE,
	  #DEDEDE 18px,
	  #E6E6E6 18px,
	  #E6E6E6 36px
	);
	*/
	padding-bottom: 20px;
}

html{
	height: 100%;
}

@media (max-width: 480px){
	body{
		padding: 0px !important;
	}
}

#page {
    padding-top: 60px;
}

.center {
	margin: auto;
	text-align: center;
}

/* Width restrictions for the content. */
.super-container {
	max-width: 870px;
	margin: auto;
}

.super-container *{
	font-family: 'Roboto', Georgia, Times, serif;
	word-wrap: break-word;
	max-width: 870px;
}

.super-container .fa{
	font-family: FontAwesome;
}

/* Some general changes. */
div{	
	-moz-box-sizing: border-box; box-sizing: border-box;
}
hr.thick{
	border-bottom: 1px solid #CCC;
	border-top: 1px solid #CCC;
	/*height: 2px; color: #BEBEBE; background-color: #BEBEBE;*/
}
.appling-hr{
	border-bottom: 1px solid #CCC;
}
.search-query{
	font-family: 'Roboto', Georgia, Times, serif;
}
.input-group{
	position: relative;
	display: table;
	border-collapse: separate;
}
.input-group-addon{
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	color: #555;
	text-align: center;
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 5px 12px;
	border-right: 0;
	top: -3px;
	position: relative;
	line-height: 1;
	font-weight: 400;
	white-space: nowrap;
	height: 20px;
}
.form-control{
	border-bottom-left-radius: 0 !important;
	border-top-left-radius: 0 !important;
}


/* Sidebar-related things (z-index: 10-20) */

.pvore-sidebar-button-main{
	display: none;
}

.pvore-dimmer{
	top: 0px; left: 0px; width: 100%; height: 100%; z-index: 10; position: fixed; 
	background-color: #232323;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer; display: none;
}

.pvore-sidebar-button{
	top: 50%; left: 0px; width: 35px; height: 50px; z-index: 15; position: fixed;
	text-align: center; vertical-align: middle; line-height: 50px;
	-moz-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0; -webkit-border-radius: 0 6px 6px 0;
	background-color: #000; color: #EFEFEF;
	margin-top: -25px;
	cursor: pointer;
}


.pvore-sidebar-button:hover{
	border: 2px solid black;
	background-color: #EFEFEF;
	color: black;
}


.pvore-minima{
	top: 50%; left: 100%; width: 35px; height: 50px; z-index: 17; position: absolute;
	text-align: center; vertical-align: middle; line-height: 50px;
	-moz-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0; -webkit-border-radius: 0 6px 6px 0;
	background-color: #FEFEFE; color: black;
	margin-top: -25px; float: left;
	cursor: pointer; display: none; 
}

.pvore-sidebar-container{
	top: 0px; left: -100%; width: 30%; height: 100%; z-index: 16; position: fixed; display: none;
	background-color: #FEFEFE;
	padding-left: 1%;
	padding-right: 1%;
	font-family: 'Roboto', Georgia, Times, serif;
}

@media (max-width: 980px){
	.pvore-sidebar-container{
		top: 0px; left: -100%; width: 60%; height: 100%; z-index: 16; position: fixed; display: none;
		background-color: #FEFEFE;
		padding-left: 1%;
		padding-right: 1%;
	}
	.pvore-minima{
		top: 50%; left: 100%; width: 35px; height: 50px; z-index: 17; position: absolute;
		text-align: center; vertical-align: middle; line-height: 50px;
		-moz-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0; -webkit-border-radius: 0 6px 6px 0;
		background-color: #FEFEFE; color: black;
		margin-top: -25px; float: left;
		cursor: pointer; display: none; 
	}
}
.display-if-480{
	display: none;
}

@media (min-width: 481px){
	.pvore-sidebar-button{
		display: block;
	}
}

@media (max-width: 480px){
	.display-if-480{
		display: block;
	}

	.super-container {
		width: 100%;
	}
	.pvore-sidebar-container{
		top: 0px; left: -100%; width: 90%; height: 100%; z-index: 16; position: fixed; display: none;
		background-color: #FEFEFE;
		padding-left: 1%;
		padding-right: 1%;
	}
	.pvore-minima{
		top: 50%; left: 100%; width: 35px; height: 50px; z-index: 17; position: absolute;
		text-align: center; vertical-align: middle; line-height: 50px;
		-moz-border-radius: 0 6px 6px 0; border-radius: 0 6px 6px 0; -webkit-border-radius: 0 6px 6px 0;
		background-color: #FEFEFE; color: black;
		margin-top: -25px; float: left;
		cursor: pointer; display: none; 
	}
	.pvore-sidebar-button{
		display: none;
	}
	.pvore-sidebar-button-main{
		display: block;
		height: 35px;
		text-align: center; vertical-align: middle; line-height: 35px;
		-moz-border-radius: 40px 40px 40px 40px; border-radius: 40px 40px 40px 40px; -webkit-border-radius: 40px 40px 40px 40px;
		background-color: #000000; color: #EFEFEF;
		cursor: pointer;
	}
}

@media(max-width: 267px){
	.pvore-sidebar-options{
		display: none;
	}
}

.pvore-sidebar-content{
	top: 0px; left: 0px; width: 100%; height: 100%; z-index: 16; position: relative;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	background-color: #FEFEFE;
	padding-bottom: 3%;
}

.pvore-sidebar-search-container{
	top: 0px; left: 0px; width: 100%; height: 6.5%; z-index: 16; position: relative;
	text-align: center;
}

.pvore-sidebar-search-input{
	width: 80%;
}

/*.pvore-sidebar-app-description{
	color: #656565;
}*/

.pvore-sidebar-app-description a{
	margin-left: 10px;
	color: #8A8A8A;
}
.pvore-sidebar-app-description a:hover{
	color: #333333;
	text-decoration: none;
}

.pvore-sidebar-app-container{
	top: 0px; left: 0px; width: 100%; height: 85%; z-index: 16; position: relative;
	overflow-y: auto;
	padding-right: 5%;
	padding-bottom: 2%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.pvore-sidebar-options{
	top: 0%; width: 100%; height: 5%; position: relative;
	padding: 3px;
	text-align: center;
	font-size: 80%;
	color: #999999;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pvore-sidebar-app{
	-moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px;
	height: auto; min-height: 75px; width: 100%; cursor: pointer; position: relative;
	border: 1px solid #FEFEFE;
	/*border: 1px solid red;*/ display: inline-block;
	padding: 1%;
	margin-top: 10px;
}

.pvore-sidebar-app-grid{
	-moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px; -webkit-border-radius: 5px;
	text-align: center; vertical-align: middle; line-height: 10px; position: relative;
	height: 75px; width: 30%; cursor: pointer;
	margin-left: 3%; margin-top: 3%; padding-top: 5%;
	border: 1px solid #FEFEFE;
	float: left;
}

.pvore-sidebar-app:hover{
	border: 1px solid #BBB;
}

.pvore-sidebar-app-grid:hover{
	border: 1px solid #BBB;
}


.pvore-sidebar-app-image{
	text-align: center; vertical-align: middle; line-height: 75px;
	height: 100%; width: 20%;
	float: left;
}

.appling-icon{
	/*color: #8939af;*/
}

.appling-icon-notification{
	min-width: 18px; height: auto; width: auto; 
	padding: 0px;
	text-align: center;
	-moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; -webkit-border-radius: 10px;
	background-color: #e74c3c; color: #EFEFEF;
	position: absolute; left: 11%; margin-top: 45px;
}

.pvore-sidebar-app-hr {
	margin-top: 1.5%;	
	
}


.pvore-sidebar-dropdown{
	top: 2px; background-color: #333; padding: 5px; text-align: center;	cursor: pointer; vertical-align: middle; line-height: 20px;	position: relative; z-index: 19;
	padding-left: 7px; padding-right: 7px; 
	-moz-border-radius: 10px 0 0 10px; border-radius: 10px 0 0 10px; -webkit-border-radius: 10px 0 0 10px;
	border-right: 1px solid #FEFEFE;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
}

.pvore-sidebar-dropdown-arrow{
	top: 2px; background-color: #333; padding: 5px; text-align: center;	cursor: pointer; vertical-align: middle; line-height: 20px;	position: relative; 
	padding-left: 5px; padding-right: 5px;
	-moz-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0;
	border-left: 1px solid #FEFEFE;
	z-index: 19;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
}

.order-by-final-item{
	border-bottom: 0px !important;
}

.order-by-options:before{
	position: absolute; top: 99%; left: 9px;
	display: inline-block;
	content: '';
	border-right: 7px solid transparent;
		border-right-width: 7px;
		border-right-style: solid;
		border-right-color: transparent;
	border-top: 7px solid #ccc;
		border-top-width: 7px;
		border-top-style: solid;
		border-top-color: #111;
	border-left: 7px solid transparent;
		border-left-width: 7px;
		border-left-style: solid;
		border-left-color: transparent;
	border-top-color: #111;
}

.order-by-options{
	position: absolute;
	top: -78px; left: 1px;
	padding-right: 11px;
	padding-left: 12px;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: #000;
	border: 1px solid rgba(0, 0, 0, 0.2);
	z-index: -1;
	display: none;
	-moz-border-radius: 10px; border-radius: 10px; -webkit-border-radius: 10px;
	color: #999999;
	
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
}

.order-by-option{
	display: block;
}

.order-by-option:hover{
	color: #FFF;
}

#pvore-sidebar-frequency{
	left: -10px;
	min-width: 100px;
}

#pvore-sidebar-viewtype{
	left: 0px;
}

#pvore-sidebar-viewtype:hover{
	color: #FFFFFF;
}

#pvore-sidebar-frequency-arrow{
	left: -10px;
}

#pvore-sidebar-viewtype-arrow{
	left: 0px;
}

#pvore-sidebar-frequency-arrow:hover{
	color: #FFFFFF;
}

#pvore-sidebar-viewtype-arrow:hover{
	color: #FFFFFF;
}

#current-order:hover{
	color: #FFFFFF;
}

.pvore-sidebar-app-hr-container{
	height: 3%;
}

.appling-name-grid{
	font-size: 90%;
	line-height: 15px;
	position: relative;
	top: 3px;
}


.appling-name-list{
	height: auto; min-height: 75px; width: 80%;
	float: left;
	padding-left: 8%;
}

.appling-icon-notification-grid{
	min-width: 18px; height: auto; width: auto; 
	padding: 5px;
	text-align: center;
	-moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px;
	background-color: #e74c3c; color: #EFEFEF;
	position: absolute; left: 15px; top:2px;
}

.favorite-appling-icon{
	color: #222;
	position: absolute;
	left: 0%;
	top: 0%;
}

/*Navbar*/

.breadcrumbs-container{
	-moz-border-radius: 8px 8px 0 0;
	border-radius: 8px 8px 0 0;
	-webkit-border-radius: 8px 8px 0 0;
	border-bottom: 1px solid #AFAFAF;
	padding: 9px;
	padding-left: 20px;
	padding-right: 20px;
	height: 35px;
	line-height: 17px;
	background-color: #332353;
	color: #EFEFEF;
	font-family: 'Roboto', Georgia, Times, serif;
	font-weight: 400;
	font-size: 16px;
}

.breadcrumbs-container a:hover{
	color: #EAEAEA;
	text-decoration: none;
}

.breadcrumbs-container a{
	color: #CCCCCC;
	text-decoration: none;
}


.pvore-content-container{
	background-color: #FCFCFC;
	background-color: rgba(255, 255, 255, 0.75);
	padding: 20px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	position: relative;
}

/*Flash messages*/

.flash-msg{
	position: relative;
	display: inline-block;
	*display: inline;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 0;
	*margin-left: .3em;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	*border: 0;
	-webkit-border-radius: 8px;
	 -moz-border-radius: 8px;
		  border-radius: 8px;
	*zoom: 1;
	width: 100%;
	color: #FFF;
	margin-top: 20px;
	padding-left: 55px;
	padding-right: 30px;
}

.flash-icon{
	position: absolute;
	top: 50%;
	margin-top: -13px;
	color: rgba(255, 255, 255, 0.7);
}

.flash-icon:hover{
	color: #FFFFFF;
}

.flash-msg-exit{
	position: absolute;
	top: 5px;
	left: 100%;
	margin-left: -20px;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.7);
}

.flash-msg-exit:hover{
	color: #FFFFFF;
}

.flash-icon-container{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 42px;
	height: 100%;
	-webkit-border-radius: 8px 0 0 8px;
	 -moz-border-radius: 8px 0 0 8px;
		  border-radius: 8px 0 0 8px;
	padding-left: 8px;
	background-color: rgba(0,0,0,0.2);
	cursor: pointer;
}

.flash-success{
	background-color: #42B842;
}

.flash-warning{
	background-color: #E79512;
}

.flash-error{
	background-color: #E74C3C;
}

.flash-info{
	background-color: #0A85CA;
}

.cushion-20{
	height: 20px;
}
.cushion-15{
	height: 15px;
}
.cushion-10{
	height: 10px;
}
.cushion-5{
	height: 5px;
}

.major-title{
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #CACACA;
}
/*
.dropdown-inverse{
	margin-top: 10px;
	background-color: #000;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #999999;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
	background-image: -webkit-linear-gradient(top, #222222, #111111);
	background-image: -o-linear-gradient(top, #222222, #111111);
	background-image: linear-gradient(to bottom, #222222, #111111);
	background-repeat: repeat-x;
}
*/

.flash-msg > ul{
	margin-bottom: 0px;
}

.editable-text, .editable-textarea{
	border: 1px solid rgba(0,0,0,0);
	display: inline-block;
	max-width: 100%;
	padding: 2px;
	border-radius: 3px;
}
.editable-text:hover, .editable-textarea:hover{
	border: 1px solid #ADADAD;
}

.editing-textarea{
	width: 80%;
	resize: none;
	display: inline-block;
	height: 60px;
}

.flash-messages-fixed{
	display: none;
	position: fixed;
	width: 50%;
	top: 45px;
	left: 25%;
	margin: auto;
	z-index: 2;
}

.flash-fixed-box-shadow{
	box-shadow: 5px 5px 5px #333333;
}

.editable-done, .editable-textarea-done{
	display: inline-block;	
	padding-right: 4px;
	padding-left: 4px;
	top: -3px;
	position: relative;
	cursor: pointer;
}

.completed-check{
	background-color: #60C739;
	color: #FFFFFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding-left: 3px;
}

.color-AAAAAA{
	color: #AAAAAA;
}

/* Points: 21-30 */

.pvore-dimmer-points{
	top: 0px; left: 0px; width: 100%; height: 100%; z-index: 21; position: fixed; 
	background-color: #232323;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer; display: none;
}

.pvore-dimmer-points-container{
	position: fixed;
	left: 10%;
	top: 40%;
	width: 80%;
	height: 20%;
	background-color: white;
	display: none;
	z-index: 22;
	-moz-border-radius: 10px; border-radius: 10px; -webkit-border-radius: 10px;
}

.grey-999 {
	color: #999999;
}

.clear-both {
	clear: both;
}