/* All of the styles I place here are for hi-jacking bootstrap's shit. */
#page {
    padding-top: 60px;
}

/* Width restrictions for the content. */
.super-container {
	max-width: 870px;
	margin: auto;
}

.super-container *{
	word-wrap: break-word;
	max-width: 870px;
}

/* Some general changes. */
div{
	-moz-box-sizing: border-box; box-sizing: border-box;
}
hr.thick{
	height: 1px; color: #CCC; background-color: #CCC;
}

/* Sidebar-related things (z-index: 10-20) */

.pvore-dimmer{
	top: 0px; left: 0px; width: 100%; height: 100%; z-index: 10; position: fixed; 
	background-color: rgba(0,0,0,0.5);
	cursor: pointer; display: none;
}

.pvore-sidebar-button{
	top: 50%; left: 0px; width: 35px; height: 50px; z-index: 15; position: fixed;
	text-align: center; vertical-align: middle; line-height: 50px;
	-moz-border-radius: 0 0 6px 6px; border-radius: 0 6px 6px 0;
	background-color: #000; color: white;
	margin-top: -25px;
	cursor: pointer;
}


.pvore-sidebar-button:hover{
	border: 2px solid black;
	background-color: white;
	color: black;
}


.pvore-minima{
	top: 50%; left: 0%; width: 35px; height: 50px; z-index: 17; position: fixed;
	text-align: center; vertical-align: middle; line-height: 50px;
	-moz-border-radius: 0 0 6px 6px; border-radius: 0 6px 6px 0;
	background-color: #FFF; color: black;
	margin-top: -25px; float: left;
	cursor: pointer; display: none; 
}

.pvore-minima:hover{
	/*
	background-color: black;
	color: white;
	*/
}

.pvore-sidebar-container{
	top: 0px; left: -30%; width: 30%; height: 100%; z-index: 16; position: fixed;
	background-color: #FFF;
	padding-left: 1%;
	padding-right: 1%;
}

.pvore-sidebar-content{
	top: 0px; left: 0px; width: 100%; height: 100%; z-index: 16; position: relative;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	background-color: #FFF;
	padding-bottom: 3%;
}

.pvore-sidebar-search-container{
	top: 0px; left: 0px; width: 100%; height: 6.5%; z-index: 16; position: relative;
	text-align: center;
}

.pvore-sidebar-search-input{
	width: 80%;
}

.pvore-sidebar-app-container{
	top: 0px; left: 0px; width: 100%; height: 85%; z-index: 16; position: relative;
	overflow-y: auto;
	padding-right: 5%;
	padding-bottom: 2%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.pvore-sidebar-options{
	top: 0%; width: 100%; height: 5%; position: relative;
	padding: 3px;
	text-align: center;
	font-size: 70%;
	color: #FFF;
	font-weight: bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pvore-sidebar-app{
	-moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px;
	height: 75px; width: 100%; cursor: pointer;
	border: 1px solid #FFF;
	padding: 1%;
}

.pvore-sidebar-app-grid{
	-moz-border-radius: 5px 5px 5px 5px; border-radius: 5px 5px 5px 5px;
	text-align: center; vertical-align: middle; line-height: 10px; position: relative;
	height: 75px; width: 30%; cursor: pointer;
	margin-left: 3%; margin-top: 3%; padding-top: 5%;
	border: 1px solid #FFF;
	float: left;
}

.pvore-sidebar-app:hover{
	border: 1px solid #BBB;
}

.pvore-sidebar-app-grid:hover{
	border: 1px solid #BBB;
}

.pvore-sidebar-app-image{
	text-align: center; vertical-align: middle; line-height: 75px;
	height: 100%; width: 20%;
	border-right: 1px solid #EEE;
	float: left;
}

.appling-icon{
	/*color: #8939af;*/
}

.appling-icon-notification{
	min-width: 18px; height: auto; width: auto; 
	padding: 0px;
	text-align: center;
	-moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px;
	background-color: #e74c3c; color: white;
	position: absolute; left: 11%; margin-top: 45px;
}

.pvore-sidebar-app-hr {
	margin-top: 1.5%;	
	
}


.pvore-sidebar-dropdown{
	top: 2px; background-color: #333; padding: 5px; text-align: center;	cursor: pointer; vertical-align: middle; line-height: 20px;	position: relative; z-index: 19;
	padding-left: 7px; padding-right: 7px; 
	-moz-border-radius: 0 10px 10px 0; border-radius: 10px 0 0 10px;
	border-right: 1px solid #FFF;
}

.pvore-sidebar-dropdown-arrow{
	top: 2px; background-color: #333; padding: 5px; text-align: center;	cursor: pointer; vertical-align: middle; line-height: 20px;	position: relative; 
	padding-left: 5px; padding-right: 5px;
	-moz-border-radius: 0 10px 10px 0; border-radius: 0 10px 10px 0;
	border-left: 1px solid #FFF;
	z-index: 19;
}

.order-by-options{
	position: absolute;
	top: -45px; left: 1px;
	padding-right: 11px;
	padding-left: 12px;
	padding-bottom: 10px;
	padding-top: 5px;
	background-color: #666;
	z-index: -1;
	display: none;
	-moz-border-radius: 0 10px 0 10px; border-radius: 10px 10px 0 0;
}

.order-by-option{
	border-bottom: 1px solid #AAA;
	display: block;
}

#pvore-sidebar-frequency{
	left: -10px;
}

#pvore-sidebar-viewtype{
	left: 0px;
}

#pvore-sidebar-frequency-arrow{
	left: -10px;
}

#pvore-sidebar-viewtype-arrow{
	left: 0px;
}

.pvore-sidebar-app-hr-container{
	height: 3%;
}

.appling-name-grid{
	font-size: 80%;
	font-weight: bold;
	line-height: 15px;
	position: relative;
	top: 3px;
}

.appling-name-list{
	height: 100%; width: 80%;
	border-left: 1px solid #FFF;
	float: left;
	padding-left: 8%;
}

.appling-icon-notification-grid{
	min-width: 18px; height: auto; width: auto; 
	padding: 5px;
	text-align: center;
	-moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px;
	background-color: #e74c3c; color: white;
	position: absolute; left: 15px; top:2px;
}