/*
All of the styles I place here are fr hi-jacking bootstrap's shit.
*/
#page {
    padding-top: 60px;
}

/* Width restrictions. I want  */
.supercontainer {
	max-width: 870px;
	margin: auto;
	/*
	border: 2px solid red;
	display: block;
	*/
}

.supercontainer *{
	word-wrap: break-word;
	max-width: 870px;
	/*
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	*/
}

/* All divs must have their paddings inside! That way, it won't overlap the supercontainer.*/
div{
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Sidebar-related things (z-index: 10-20) */

.pVoreDimmer{
	top: 0px; left: 0px; width: 100%; height: 100%; z-index: 10; position: fixed; 
	cursor: pointer;
	background-color: rgba(0,0,0,0.5);
	display: none;
	/*
	*/
}

.pVoreSidebarButton{
	top: 50%; left: 0px; width: 35px; height: 50px; z-index: 15; position: fixed;
	padding-top: 12px; padding-bottom: 12px;
	background-color: #000; color: white;
	text-align: center;
	margin-top: -25px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 6px 6px 0;
	cursor: pointer;
	/*
	*/
}

.pVoreSidebarContainer{
	top: 0px; left: 0px; width: 0px; height: 100%; z-index: 16; position: fixed;
	background-color: #FFF;
}

.pVoreMinima{
	top: 50%; left: 0%; width: 35px; height: 50px; z-index: 17; position: fixed;
	padding-top: 12px; padding-bottom: 12px;
	background-color: #FFF; color: black;
	text-align: center;
	float: left;
	margin-top: -25px;
	-moz-border-radius: 0 0 6px 6px;
	border-radius: 0 6px 6px 0;
	cursor: pointer;
	display: none;
	
	/*
	border-radius: 5px 5px 0 0;
	background: #7b0305;
	color: #FFF;
	position: absolute;
	right: 0px;
	width: 7%;
	top: -20px;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 3px;
	cursor: pointer;
	
	
	top: 0px; left: 0px; width: 10%; height: 100%; z-index: 16; position: relative;
	border: 2px solid yellow;
	position: relative;
	*/
}