.add-achievement-name-container{
	border: 0px;
	height: 29px;
	width: 100%;
	padding: 0px;
}
.add-achievement-condition-container{
	border: 0px;
	height: 60px;
	width: 100%;
	padding: 0px;
	position: relative;
}
.add-achievement-reward-container{
	background-color: #CACACA;
	width: 100%;
	display: inline-block;
	margin: auto;
	height: auto;
	min-height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;	 
	border-radius: 0px 0px 5px 5px;
	color: #555;
	text-align: center;
}
.control-label{
	display: none;
}
.add-achievement-name-container > .control-group > .controls{
	margin-left: 0px;
}
.add-achievement-condition-container textarea{
	border-left: 1px solid #CACACA;
	border-right: 1px solid #CACACA;
	border-top: 1px solid #CACACA;
	border-bottom: 1px solid #CACACA;
	resize: none;
	border-radius: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	box-sizing: border-box;
}
.add-achievement-name-container > .control-group{
	width: 85%;
	float:left;
}

.add-achievement-name-container #AchievementsForm_achievement_name{
	border: 1px solid #CACACA;
	resize: none;
	border-radius: 5px 0px 0px 0px;
	position: relative;
	box-sizing: border-box;
	font-weight: 600;
	float: left;
	width: 100%;
	height: 100%;
}
.add-achievement-name-container #achievement-form-reward-points{
	border: 1px solid #CACACA;
	border-bottom: 0px solid #CACACA;
	border-left: 0px solid #CACACA;
	border-right: 0px solid #CACACA;
	resize: none;
	border-radius: 0px 0px 0px 0px;
	width: 8%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	float:left;
	text-align: right;
	-webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075); 
	-moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075); 
}
.add-achievement-name-container #label-points{
	border: 1px solid #CACACA;
	border-bottom: 0px solid #CACACA;
	border-left: 0px solid #CACACA;
	resize: none;
	border-radius: 0px 5px 0px 0px;
	width: 7%;
	height: 100%;
	position: relative;
	box-sizing: border-box;
	float:left;
	background-color: #FFFFFF;
	padding:4px;
	padding-left: 0px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); 
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
-o-transition: border linear 0.2s, box-shadow linear 0.2s;
transition: border linear 0.2s, box-shadow linear 0.2s;
}
.add-achievement-reward-container input{
	position: relative;
	width: 35px;
	text-align: right;
	padding: 1px;
	margin-top: -2px;
	margin-bottom: 0px;
}
.add-achievement-reward-container p, .add-achievement-reward-container > .control-group{
	margin: 0px;
}
.unlockable-achievement{
	width: 100%;
	min-height: 75px;
	height: auto;
	display: inline-block;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0);
}
.unlockable-achievement:hover{
	border: 1px solid #ADADAD;
}
.ua-actions{
	width: 5%;
	min-height: 75px;
	height: 100%;
	border-radius: 5px 0px 0px 5px;
	float: left;
}
.ua-body{
	width: 80%;
	min-height: 75px;
	height: 100%;
	float: left;
	padding: 10px;
}
.ua-rewards{
	border-radius: 0px 5px 5px 0px;
	width: 15%;
	min-height: 75px;
	height: 100%;
	float: left;
	position: relative;
	vertical-align: middle;
}
.ua-rewards > .points-container{
	background-color: rgba(14,184,86,1); /*OUTSIDE*/
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -37px;
	margin-top: -20px;
	width: 75px;
	height: 38px;
	color: #FFFFFF;
	cursor: default;
	padding: 0px;
}
.ua-rewards > .points-container > .points{
	background-color: rgba(0,95,185,1); /*INSIDE*/
	border-radius: 5px;
	padding: 8px;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 8px;
	text-align: center;
	color: #FFFFFF;
	cursor: default;
}
.dragger{
	width: 100%;
	border: 1px solid #CACACA;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	padding-top: 5px;
	padding-left: 5px;
	color: #ABABAB;
}
/*.dragger > .slider{
	background-color: #555;
	width: 70px;
	border-radius: 5px 5px 5px 5px;
	border-right: 0px;
}
*/
.hp-bar-container{
	position: absolute;
	left: 0px; top: 0px;
	height: 100%;
	background-color: rgba(14,184,86,0.2); /*OUTSIDE*/
	padding: 0px;
}
.hp-bar{
	position: absolute;
	left: 0px; top: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,95,185,0.2); /*INSIDE*/
}
#just-a-slider > .slider-bg > .slider{
	background-color: #005fb9; /*INSIDE*/
	width: 100%;
	height: 100%;
	border-radius: 5px 5px 5px 5px;
	
}
#just-a-slider > .slider-bg{
	border-radius: 5px 5px 5px 5px;
	background-color: #0eb856; /*OUTSIDE*/
	padding: 0px;
}

#btn-add-to-bucket-list{
	position: relative;
	left: 100%;
	margin-left: -138px;
}

#achievements-form .add-achievement-condition-container > .error{
	border: 1px solid #CACACA;
	color: #555555;
}

.achievement-name{
	font-weight: 600;
}